/*.jumbotron{
    background-image: url("../pic/maps4stats.png");
    backgroung-color: rgba(34,34,34,.7); 
}*/
@font-face{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url('../fonts/Ubuntu-M.ttf');
}
body {
    padding-top: 60px;
    font-family: ubuntu, serif;
}
#about-project{
    font-family: ubuntu, serif;
    font-size: 16pt;
}


#about-project a:link{
    color :  rgb(255, 127, 14);
    text-decoration: none;
}
#about-project a:visited{
    color : rgb(197, 176, 213);
    text-decoration: none;
}
#about-project a:hover{
    color: rgb(255, 187, 120);
    text-decoration: none;
    
}
.legend rect {
    fill:white;
    stroke:black;
    opacity:0.8;}
}
 /*
.legend{
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}*/

div.tooltip {
     position: absolute;
     text-align: center;
     width: 60px;
     height: 28px;
     padding: 2px;
     font: 12px sans-serif;
     background: lightsteelblue;
     border: 0px;
     border-radius: 8px;
     pointer-events: none;
}
/*
#top-nav{
    background-color: "#fff";
}
#dataset{
    overflow : hidden;
}
}*/
/*#message{
    float: bottom;
    clear: right left;
    width: 1000px;
}*/
#side-geo{
    float: left;
    width: 40%;
}
#side{
    float: left;
   /*width: 30%;*/
    height: 100%;
    
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.graph{
    float: left;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis text{
    font-family: sans-serif;
    font-size: 11px;
    text-decoration: none;
    
}

.map-title{
    max-width: 550px;
}
.main-title{
    float: top;
    /*position: absolute;*/
    margin:0px;
    clear: bottom;
    top: 0px;
}


#list-dataset{
    float: top;
    padding: 5px;
}

#drop-downs{
    background-color:#fff;
    padding: 5px;
}

#header{
    background-color:#fff;
    padding: 5px;
    float: top;
    top : 50px;
}
#drawing{
    padding: 10px;
    clear: top;
    float:left;
    /*width: 70%;*/
    
}

.legend-div{
    float: right;
}
#example{
    width: 300px;
}

.map{
    float: left;
}
.map path{
    stroke: #000;
    stroke-width: .001px;
}    
.map text{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    text-anchor: middle;
}

.feature--county{
    fill: #bbb;
}
.feature--con{
    fill #bbb;
}
.feature--town{
    fill: #f00;
}
.boundary{
    stroke-width: none;
    stroke: #eee;
    stroke-linejoin: round;
    stroke-linecap: round;
}


.grid .tick{
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.grid path{
    stroke-width: 0;
}
.collapsibleList li{
  /*list-style-image:url('minus.png');*/
  cursor:auto;
}

li.collapsibleListOpen{
  list-style-image:url('minus.png');
  cursor:pointer;
}

li.collapsibleListClosed{
  list-style-image:url('plus.png');
  cursor:pointer;
}
